@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.swal2-popup {
    font-family: 'Inter', sans-serif; /* Замените на нужный вам шрифт */
}
  
.swal2-title {
    font-family: 'Inter', sans-serif; /* Замените на нужный вам шрифт */
}
  
.swal2-content {
    font-family: 'Inter', sans-serif; /* Замените на нужный вам шрифт */
}
  
.swal2-confirm,
.swal2-cancel {
    font-family: 'Inter', sans-serif; /* Замените на нужный вам шрифт */
}