

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #4169E1;
}

.pageHeader {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    background-color: #4169E1;
    height: 100vh;
}