/* Content.module.css */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Занимает всю высоту экрана */
  }
  
  .leftColumn,
  .rightColumn {
    flex: 1;
    padding: 20px;
  }
  
  .leftColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Центрируем кнопки по горизонтали */
  }
  
  .buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%; /* Занимает всю ширину родительского элемента */
    box-sizing: border-box; /* Включает padding и border в ширину элемента */
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%; /* Занимает всю ширину родительского элемента */
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.5;
  }
  