@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.primaryButton {
    background-color: #B4CBDB; /* Green */
    border: none;
    width: auto;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    transition: 0.5s;
    font-family: 'Inter';
    font-weight: bold;
    cursor: pointer;
}

.primaryButton:hover {
    background-color: #9CB2C0;
}

@media (max-width: 320px), (max-width: 480px), (max-width: 600px) {
    .primaryButton {
        font-size: 15px;
        width: 200px;
        text-align: center;
    }
}