.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/mainbackground.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



@media (max-width: 320px), (max-width: 480px), (max-width: 600px) {
    .centered {
        background-image: url("../assets/mobile_background.svg");
    }
}