.card {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}