.headerMain {
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: brown;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}